* {
	margin: 0;
	padding: 0;
	font-size: 11.5pt;
	font-family: Arial, sans-serif;
	color: #000;
}

html, body {
	height: 100%;
}

.loginWrap {  
	position: relative;  
	min-height: 100%;  
}

* html .loginWrap {  
 height: 100%;  
}  
.loginWrap1 {  
	padding-bottom: 100px;  
}

.loginFooter {
	color: #929292;
	width: 700px;
	padding: 10px 0 10px 0;
	text-align: center;
	border-top: 1px solid #EEE;
	position: relative;    
	margin: -38px auto 0 auto;  
}  

.loginPageLogo {
	display: block;
	margin: 0 auto 50px auto;
	padding: 50px 0 0 0;
}

.loginPageH1 {
	color: #555555;
	width: 700px;
	margin: 0 auto 85px auto;
	padding: 20px 0;
	font-size: 16pt;
	text-align: center;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}

.loginPageForm {
	width: 255px;
	margin: 15px auto 0 auto;
}

.loginPageForm input {
	height: 30px;
	padding: 0 10px 0 10px;
	border: 2px solid #EEE;
	border-radius: 10px;
}

.looginPageLogin {
	float: right;
}

.looginPagePass {
	margin: 5px 0 0 0;
	clear: both;
	float: right;
}

#loginPageSubmit {
	display: block;
	color: #fff;
	background-color: #494949;
	margin: 5px 0 0 0;
	padding: 6px 20px 22px 20px;
	border: none;
	clear: both;
	float: right;
}

#loginPageSubmit:hover {
	background-color: #a90000;
}

.loginError {
	font-weight: bold;
	color: #E90000;
	text-align: center;
}

.wrap {  
	position: relative;  
	min-height: 100%;  
}  

* html .wrap {  
	height: 100%;  
}

.wrap2 {
	position: relative;
	padding: 0 0 30px 0;  
} 

.content {
	width: 625px;
	margin: 15px 0 0 0;
	background-color: #f8f8f8;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 15px;
	float: left;
}  

.footer {
	width: 655px;
	color: #B1B1B1;
	text-align: center;
	padding: 6px 0 0 0;
	height: 24px;
	background-color: #f8f8f8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;   
	margin-top: -30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}  

body {
	width: 900px;
	margin: 0 auto;
}

.header {
	height: 70px;
	padding: 25px 0 0 10px;
}

.exit {
	float: right;
}

.sidebar {
	width: 200px;
	margin: 15px 0 0 0;
	background-color: #f8f8f8;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 15px;
	float: right;
}

.sidebar h2 {
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #E0E0E0;
}

.menu {
	height: 33px;
	background-color: #4d4d4d;
	padding: 0 10px;
	list-style-type: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu li {
	margin: 0 5px 0 0;
	float: left;
}

.menu a {
	display: block;
	font-size: 12pt;
	padding: 7px 15px;
	color: #f8f8f8;
	text-decoration: none;
	background-color: #bd0000;
}

.menu a:hover {
	color: #3c3c3c !important;
	background-color: #efefef !important;
}

.activeMenu {
	color: #3c3c3c !important;
	background-color: #efefef !important;
}

.exit {
	margin: 11px 15px 0 0;
}

.exit a {
	float: right;
}

.exit div {
	color: #a7a9ac;
	font-weight: bold;
	margin: 9px 5px 0 0;
	float: right;
}

.content h2 {
	margin: 0 0 5px 0;
}

.content table {
	margin: 0 0 20px 0;
	border-collapse: collapse;
}

.content td {
	padding: 5px 10px;
	border: 1px solid #E0E0E0;
}

.greenBalance {
	color: #009418;
}