security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        Alfadoc\CoreBundle\Entity\User: plaintext
        Alfadoc\AdminAreaBundle\Entity\Administrators: plaintext
    firewalls:
        user_login_firewall:
            pattern:    ^/login$
            anonymous:  ~
        admin_login_firewall:
            pattern:    ^/admin/login$
            anonymous:  ~
        admin_area:
            pattern:    ^/admin
            provider: administrators
            form_login:
                login_path:  /admin/login
                check_path:  /admin/login_check
            logout:
                path:   /admin/logout
                target: /admin
        user_area:
            pattern:    ^/
            provider: users
            form_login:
                login_path:  /login
                check_path:  /login_check
            logout:
                path:   /logout
                target: /

    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/, roles: ROLE_USER }

    providers:
        users:
            entity: { class: AlfadocCoreBundle:User, property: username }
        administrators:
            entity: { class: AlfadocAdminAreaBundle:Administrators, property: username }